politifact/*.csv
politifact/news_user_mapping.csv
politifact/*_train.*
politifact/*_test.*

gossipcop/*.csv
gossipcop/news_user_mapping.csv
gossipcop/*_train.*
gossipcop/*_test.*
__pycache__
.venv

*.aux
*.log
*.fls
*.fdb_latexmk
*.out
*.dvi
*.gz

out/*
report/*.txt

classification_report_plot.py