*.txt
*.npy
*.npz
*.pkl

__pycache__

my_workspace

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.dvi

A_train.txt
A_test.txt
graph_labels_train.npy
graph_labels_test.npy
news_user_mapping.csv
node_graph_id_train.npy
node_graph_id_test.npy
politifact_resized.csv
politifact_resized_test.csv
pol_news_list_train.txt
pol_news_list_test.txt
ranking_metrics.csv
ranking_metrics_test.csv
user_news_statistics.csv
user_news_statistics_with_centrality.csv
USER_RANKNING.csv

report/*.txt